In [16]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

! pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [2]:
# load the data set ans show the first five transaction
url = "https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv"
df = pd.read_csv(url)
df.head(5)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [3]:
barang = set()
for col in df:
    barang.update(df[col].unique())
print(barang)

{nan, 'Meat', 'Bread', 'Cheese', 'Pencil', 'Diaper', 'Wine', 'Milk', 'Eggs', 'Bagel'}

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [4]:
#create an itemset based on the products
# encoding the feature
setbarang = set(barang)
encoded_vals = []
for index, row in df.iterrows():
    rowset = set(row) 
    labels = {}
    uncommons = list(setbarang - rowset)
    commons = list(setbarang.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)
encoded_vals[0]

{nan: 0,
 'Bagel': 0,
 'Milk': 0,
 'Meat': 1,
 'Bread': 1,
 'Cheese': 1,
 'Pencil': 1,
 'Diaper': 1,
 'Wine': 1,
 'Eggs': 1}

In [5]:
  # create new dataframe from the encoded features
df_baru = pd.DataFrame(encoded_vals)
  # show the new dataframe
df_baru.head(5)

   NaN  Bagel  Milk  Meat  Bread  Cheese  Pencil  Diaper  Wine  Eggs
0    0      0     0     1      1       1       1       1     1     1
1    0      0     1     1      1       1       1       1     1     0
2    1      0     1     1      0       1       0       0     1     1
3    1      0     1     1      0       1       0       0     1     1
4    1      0     0     1      0       0       1       0     1     0

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [6]:
df_baru.drop(columns=df_baru.columns[0], axis=1, inplace=True)

In [7]:
df_baru.head(5)

   Bagel  Milk  Meat  Bread  Cheese  Pencil  Diaper  Wine  Eggs
0      0     0     1      1       1       1       1     1     1
1      0     1     1      1       1       1       1     1     0
2      0     1     1      0       1       0       0     1     1
3      0     1     1      0       1       0       0     1     1
4      0     0     1      0       0       1       0     1     0

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [20]:
freq_barang = apriori(df_baru, min_support=0.2, use_colnames=True)
freq_barang

     support              itemsets
0   0.425397               (Bagel)
1   0.501587                (Milk)
2   0.476190                (Meat)
3   0.504762               (Bread)
4   0.501587              (Cheese)
5   0.361905              (Pencil)
6   0.406349              (Diaper)
7   0.438095                (Wine)
8   0.438095                (Eggs)
9   0.225397         (Bagel, Milk)
10  0.279365        (Bagel, Bread)
11  0.244444          (Meat, Milk)
12  0.279365         (Bread, Milk)
13  0.304762        (Cheese, Milk)
14  0.219048          (Wine, Milk)
15  0.244444          (Eggs, Milk)
16  0.206349         (Meat, Bread)
17  0.323810        (Meat, Cheese)
18  0.250794          (Meat, Wine)
19  0.266667          (Eggs, Meat)
20  0.238095       (Cheese, Bread)
21  0.200000       (Pencil, Bread)
22  0.231746       (Diaper, Bread)
23  0.244444         (Wine, Bread)
24  0.200000      (Pencil, Cheese)
25  0.200000      (Diaper, Cheese)
26  0.269841        (Cheese, Wine)
27  0.298413        (Eggs, Cheese)
28  0.200000        (Pencil, Wine)
29  0.234921        (Diaper, Wine)
30  0.241270          (Eggs, Wine)
31  0.203175  (Meat, Cheese, Milk)
32  0.215873  (Eggs, Meat, Cheese)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [21]:
basketrule = association_rules(freq_barang, metric="confidence", min_threshold=0.6)
basketrule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
3,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
4,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
5,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
6,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
7,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
8,"(Meat, Cheese)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
9,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
10,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
11,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667
12,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Cheese)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714